/* line 6, ../sass/_mixin.scss */
.example-class {
  color: white;
  background-color: red;
  height: 100%;
  width: 100%;
}

/* line 1, ../sass/_btn.scss */
button, button:active, button:hover, button:visited {
  outline: none;
}

/* line 3, ../sass/_pages.scss */
.header_blocktext .logo_text_top {
  color: #14A31A;
}

/* line 5, ../sass/style.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
