/* line 6, ../sass/_mixin.scss */
.example-class {
  color: white;
  background-color: red;
  height: 100%;
  width: 100%;
}

/* line 1, ../sass/_btn.scss */
button, button:active, button:hover, button:visited {
  outline: none;
}

/* line 1, ../sass/_pages.scss */
.header_logo {
  height: 65px;
  width: 195px;
}

/* line 6, ../sass/_pages.scss */
.fa-home {
  color: #14A31A;
  font-size: 20px;
}

/* line 10, ../sass/_pages.scss */
.fa-phone-alt {
  margin-right: 10px;
  color: #14A31A;
  font-size: 24px;
}

/* line 16, ../sass/_pages.scss */
.header_nav .nav li {
  font-size: 16px;
}
/* line 19, ../sass/_pages.scss */
.header_nav .nav_link {
  text-decoration: none;
  color: #252525;
  padding: 5px 10px;
}
/* line 23, ../sass/_pages.scss */
.header_nav .nav_link:hover {
  text-decoration: none;
  border: 1px solid #14A31A;
  border-radius: 20px;
}

/* line 30, ../sass/_pages.scss */
.header_tel {
  text-align: right;
  font-size: 18px;
  color: #252525;
}
/* line 34, ../sass/_pages.scss */
.header_tel span {
  font-size: 24px;
  font-weight: 700;
}

/* line 39, ../sass/_pages.scss */
.service_menu {
  height: 182px;
  background-color: #EAEAEA;
}

/* line 45, ../sass/_pages.scss */
.carousel-item .carousel-item_wrap {
  margin: 0 auto;
  padding: 15px;
  height: 93px;
  width: 292px;
  border: 1px solid #14A31A;
  border-radius: 46.5px;
  position: relative;
  color: #252525;
  font-size: 20px;
  font-weight: bold;
}
/* line 56, ../sass/_pages.scss */
.carousel-item .carousel-item_wrap img {
  display: inline-block;
  height: 56.4px;
  width: 66.4px;
}
/* line 61, ../sass/_pages.scss */
.carousel-item .carousel-item_wrap span {
  display: inline-block;
}
/* line 64, ../sass/_pages.scss */
.carousel-item .carousel-item_wrap:hover {
  background-color: #252525;
  color: white;
  border: 1px solid #252525;
}

/* line 5, ../sass/style.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
