.header_logo{
    height: 65px;
    width: 195px;
    
}
.fa-home{
    color: #14A31A;
    font-size: 20px;
    }
.fa-phone-alt{
    margin-right: 10px;
    color: #14A31A;
    font-size: 24px; 
}    
.header_nav{
    .nav li{
     font-size: 16px;
    }
    .nav_link{
        text-decoration: none;
        color: #252525;
        padding: 5px 10px;
        &:hover{
        text-decoration: none;
        border: 1px solid #14A31A;
        border-radius: 20px;
        }
    }
}
.header_tel{
    text-align: right;
    font-size: 18px;
    color: #252525;
    span{
        font-size: 24px;
        font-weight: 700;
    }
}
.service_menu{
    height: 182px;
    background-color: #EAEAEA;
}
.carousel-item{

    .carousel-item_wrap{
        margin: 0 auto;
        padding: 15px;
        height: 93px;
        width: 292px;
        border: 1px solid #14A31A;
        border-radius: 46.5px;
        position: relative;
        color: #252525;
        font-size: 20px;
        font-weight: bold;
        img{
        display: inline-block;
        height: 56.4px;
        width: 66.4px;
        }
        span{
        display: inline-block;
        }
        &:hover{
            background-color: #252525;
            color: white;
            border: 1px solid #252525;
        }
    }
}
